body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #dddddd;
    font-weight: 500;
    white-space: nowrap;
}

table {
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    text-align: center;
    padding: 10px;
    border-radius: 1px;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    vertical-align: middle;
    border: 2px solid #aaa6a6;
}


th {
    background-color: #2480aa;
    color: white;
    border-right: 2px solid #aaa6a6;
    text-align: center;
}

tr {
    border-bottom: 2px solid #2480aa;
}

tr:hover {
    background-color: #dccccc;
}

#icon{
    width: 3%;
}

#weight, #gender, #height  {
    width: 4%;
}

#alignment {
    width: 5%;
}

#race {
    width: 6%;
}

#name {
    width: 7%;
}

#birthPlace {
    width: 8%;
}

#fullName {
    width: 9%;
}

#powerStats {
    width: 10%;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.search-container {
    text-align: center;
    margin: 20px;
}

#pagination{
    text-align: center;
    margin: 20px;
}

input[type="text"], select {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #aaa6a6;
    font-size: 15px;
}

input[type="text"] {
    width: 30%;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    font-size: 15px;
}

button:hover {
    background-color: #0f2c4b;
    cursor: pointer;
}

.thClickable:hover {
    cursor: pointer;
    background-color: #7992af;
}

.arrow {
    font-size: 15px;
    color: darkgrey
}
